$red : #DA2C38;
$darkgreen : #226F54;
$lightgreen : #87C38F;
$offwhite : #F4F0BB;
$brown : #43291F;
$josefin : 'Josefin Sans';
$josefinSerif : 'Josefin Slab';

Body{
    max-width: 100vw;
    background-image: url('../images/bg.jpg') ;
    overflow-x: hidden;
}
//Navbar
.navbar{
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    display: flex; 
    justify-content: flex-end;
    position: sticky;
    top:0;
    width: 100vw;
    height: 15%;
    max-height: 100px;
    background-color: $offwhite;
    padding: 10px;
    .navName{
        color: $darkgreen;
        border: 5px solid $offwhite;
        margin-right:auto;
        font-family: $josefin;
    }
    .logo{
        margin-right:auto;
        transition: all .2s ease-in-out;
    }
    .navLogin, .navCart{
        font-family: $josefin;
        font-size: 40px;
        width: 150px;
        height: 125px;
        border: none;
        background-color: #F4F0BB;
        color: $lightgreen;
        margin: 50px;
        margin-top: 0px;
        margin-bottom:0px;
    }
    .navLogin:hover , .navCart:hover{
        color : white;
    }
    .logo:hover{
        transform: scale(1.1);
    }
};

//Landing
.landing{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
.chameleonLandingItems{
    margin: 50px;
    width: 25%;
    height: 500px;
    background-color: $lightgreen;
    
    .landingChamImg{
        width: 100%;
        height: 90%;
        object-fit: cover;
    }
    .landingChamPrice{
       font-family: $josefinSerif;
       float:right;
       margin-top:-45px;
       margin-right: 15px;
    }
    .landingChamTitle{
        
        color:black;
        box-shadow: none;
        font-family: $josefin;
        margin-left:5px;
    }
 }
}

//SingleItem

.chameleonView{
    margin: 15px;
    .chamInfo{
        height: 40%;
        width: 47.5%;
        float: right;
        background-color: rgba(0,0,0,.6);
        padding:15px;
    }
    .chameleonImage{
        height: 40%;
        width: 50%;
        border-radius: 4px;
    }
    .chameleonSpecies{
        font-family: $josefin;
        text-border: 1px solid white;
        color: white;
    }
    .chameleonPrice{
        color: white;
        font-family: $josefinSerif;
        font-size: 20px;
    }
    .chameleonInfo{
        color: white;
        font-family: $josefinSerif;
        font-size: 20px;
    }
    .addToCart{
        font-family: $josefin;
        font-size: 32px;
        width: 100%;
        height: 50px;
        background-color: #226F54;
        color: white;
        border: none;
    }

    .addToCart:hover{
        background-color: $lightgreen;
    }
}

//Cart

.cart{
    margin: 15px;
    display: flex;
    flex-direction: column;
    .cartSpecies, .cartQuantity, .cartPrice{
        font-family: $josefinSerif;
        color: white;
        font-size: 24px;
    }
    .cartQuantity{
        margin : 10px;
    }
    .cartImage{
        width: 50px;
        height :50px;
    }
    .cartPlus, .cartMinus{
        font-family: $josefin;
        font-size: 20px;
        background-color: $lightgreen;
        border: none;
        margin : 5px;
        height: 50px;
        width: 50px;
    }
    .cartRemove{
        font-family: $josefin;
        font-size: 20px;
        border: none;
        background-color: $red;
        color: white;
        margin: 10px;
        height: 50px; 
        width: 100px;
    }
}


//footer

